#!/bin/sh

while true; do
	cd __pwd__
	git fetch
	check=$(git status | grep "up to date" | wc -l)
	if [ check==0 ]
	then
		echo "updating $(date +%H:%M_%m-%d-%y)"
		git pull
		python3 __pwd__/../main.py
	fi
	sleep 60;
done
